<%- include('./partials/html-head') %> 
<%- include('./partials/nav') %> 

  <h1><%= title %></h1>
  <a href="/flights">All Flights</a>
  <a href="/flights/new">New Flight</a>

<%- include('./partials/footer') %> 
