<%- include('./partials/html-head') %> 
<%- include('./partials/nav') %> 

  <a href="/flights" id="mongoose-title"><%= title %></a>
  <!-- <a href="/flights">All Flights</a> -->
  <!-- <a href="/flights/new">New Flight</a> -->

<%- include('./partials/footer') %> 
