<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/meals/new.css">
<%- include('../partials/nav') %>

<main>
  <h1>Add A New Meal</h1>
  <form action="/meals" method="post" id="add-meal-form">
    <label for="name-input">Meal Item: </label>
    <input type="text" name="name" id="name-input">
    <button type="submit">Add Meal</button>
  </form>
  <p>Please ensure that the meal is not already in the list below!</p>
  <h3>Current Meals!</h3>
  <ul>
    <%  %> 
    <% meals.forEach(meal => { %>
      <li><i class="fas fa-utensils"></i> <%= meal.name %></li>
    <% }) %> 
  </ul>
</main>

<%- include('../partials/footer') %>