<%- include('../partials/html-head') %> 
<link rel="stylesheet" href="/stylesheets/flights/new">
<%- include('../partials/nav') %> 

<main>
  <h1>Enter a New Flight</h1>
  <form action="/flights" method="POST">
    <label>Airline:
      <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
      </select>
    </label><br>
    <label>Airport:
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option selected='selected' value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
    </label><br>
    <label>Flight Number
      <input type="text" name="flightNo">
    </label><br>
    <label>Departs
      <input type="datetime-local" name="departs">
    </label><br>
    <button type="submit">Add Flight</button>
  </form>
  <a href="/">Go Home</a>
</main>


<%- include('../partials/footer') %> 